{
  "swagger": "2.0",
  "info": {
    "title": "Glossary",
    "description": "This is an API glossary, allowing me to add definitions for key terms and phrases used in the API space.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "glossary.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/glossary/": {
      "get": {
        "summary": "retrieves all glossary terms",
        "description": "pulls all glossary terms, with filter by keyword",
        "operationId": "getGlossarys",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ]
      },
      "post": {
        "summary": "add glossary",
        "description": "add a new glossary",
        "operationId": "addGlossary",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "term",
            "in": "formData",
            "description": "name of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "formData",
            "description": "description of the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ]
      }
    },
    "/glossary/{glossary_id}": {
      "get": {
        "summary": "retrieve glossary term",
        "description": "retrieve glossary term",
        "operationId": "getGlossaryTerm",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary term",
            "required": "true",
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ]
      },
      "put": {
        "summary": "update glossary",
        "description": "update glossary",
        "operationId": "updateGlossaryTerm",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary term",
            "required": "true",
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "term",
            "in": "formData",
            "description": "name of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "formData",
            "description": "description of the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ]
      },
      "delete": {
        "summary": "delete glossary term",
        "description": "deletes an glossary term",
        "operationId": "deleteGlossaryTerm",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary term",
            "required": "true",
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ]
      }
    },
    "/glossary/{glossary_id}/tags/": {
      "get": {
        "summary": "retrieve glossary tags",
        "description": "Returns the tags for an glossary",
        "operationId": "getglossaryTags",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for glossary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      },
      "post": {
        "summary": "add tag to glossary",
        "description": "add tag for glossary",
        "operationId": "addGlossaryTag",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    },
    "/glossary/{glossary_id}/tags/{tag}": {
      "delete": {
        "summary": "delete a glossary tag",
        "description": "deletes a tag applied to glossary",
        "operationId": "deleteglossaryTag",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ]
      }
    }
  },
  "definitions": {
    "glossary": {
      "properties": {
        "term": {
          "description": "name of the glossary",
          "type": "string",
          "format": "label"
        },
        "definition": {
          "description": "description of the glossary",
          "type": "string"
        },
        "tags": {
          "description": "tags for the glossary",
          "type": "string"
        },
        "slug": {
          "description": "slug for the glossary",
          "type": "string",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    },    
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}