{
  "swagger": "2.0",
  "info": {
    "title": "Glossary",
    "description": "This is an API glossary, allowing me to add definitions for key terms and phrases used in the API space.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "glossary.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/glossary/": {
      "get": {
        "summary": "glossary terms",
        "description": "glossary terms",
        "operationId": "getGlossaryTerms",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across glossary",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add glossary",
        "description": "add glossary",
        "operationId": "addGlossary",
        "parameters": [
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "term",
            "in": "formData",
            "description": "name of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "formData",
            "description": "description of the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/glossary/{glossary_id}/": {
      "get": {
        "summary": "glossary term",
        "description": "glossary term",
        "operationId": "getGlossaryTerm",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary term",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update glossary",
        "description": "update glossary",
        "operationId": "updateGlossaryTerm",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary term",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "term",
            "in": "formData",
            "description": "name of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "formData",
            "description": "description of the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete glossary term",
        "description": "delete glossary term",
        "operationId": "deleteGlossaryTerm",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary term",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the API",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the API",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "Glossary"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/glossary/{glossary_id}/tags/": {
      "get": {
        "summary": "glossary tags",
        "description": "glossary tags",
        "operationId": "getglossaryTags",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for glossary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add glossary term",
        "description": "add glossary term",
        "operationId": "addGlossaryTag",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "formData",
            "description": "your appid for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "formData",
            "description": "your appkey for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "formData",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/glossary/{glossary_id}/tags/{tag}": {
      "delete": {
        "summary": "delete glossary tag",
        "description": "delete glossary tag",
        "operationId": "deleteglossaryTag",
        "parameters": [
          {
            "name": "glossary_id",
            "in": "path",
            "description": "id for the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Glossary Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },  
  "definitions": {
    "glossary": {
      "properties": {
        "term": {
          "description": "name of the glossary",
          "type": "string",
          "format": "label"
        },
        "definition": {
          "description": "description of the glossary",
          "type": "string"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}