{
  "swagger": "2.0",
  "info": {
    "title": "Glossary",
    "description": "This is an API glossary API",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v1"
  },
  "host": "glossary.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "produces": [
    "glossarylication/json"
  ],
  "paths": {
    "glossary/": {
      "get": {
        "summary": "retrieves all glossary terms",
        "description": "pulls all glossary terms, with filter by keyword",
        "operationId": "getGlossarys",
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "glossary",
          "glossaryging"
        ]
      },
      "post": {
        "summary": "add glossary",
        "description": "add a new glossary",
        "operationId": "addGlossary",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "name of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "query",
            "description": "description of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "glossary",
          "glossaryging"
        ]
      }
    },
    "glossary/{slug}": {
      "get": {
        "summary": "Retrieve a glossary using its slug",
        "description": "Returns the glossary detail",
        "operationId": "getGlossary",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "slug for the glossary, notice this is in the path, not a query variable",
            "required": "true",
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "glossary",
          "glossaryging"
        ]
      },
      "put": {
        "summary": "update glossary",
        "description": "update glossary",
        "operationId": "updateGlossary",
        "parameters": [
          {
            "name": "term",
            "in": "query",
            "description": "name of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "definition",
            "in": "query",
            "description": "description of the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "tags for the glossary",
            "required": true,
            "type": "string"
          },
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the glossary",
            "required": true,
            "type": "string"
          }          
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "glossary",
          "glossaryging"
        ]
      },
      "delete": {
        "summary": "delete glossary",
        "description": "deletes an glossary",
        "operationId": "deleteGlossary",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "description": "unique slug for the glossary",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "glossary response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/glossary"
              }
            }
          }
        },
        "tags": [
          "glossary",
          "glossaryging"
        ]
      }
    }
  },
  "definitions": {
    "glossary": {
      "properties": {
        "term": {
          "description": "name of the glossary",
          "type": "string",
          "format": "label"
        },
        "definition": {
          "description": "description of the glossary",
          "type": "string"
        },
        "tags": {
          "description": "tags for the glossary",
          "type": "string"
        },
        "slug": {
          "description": "slug for the glossary",
          "type": "string",
          "format": "id"
        }
      }
    },
    "errorModel": {
      "required": [
        "code",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        }
      }
    }
  }
}
